pip-tools==7.0.0
pre-commit==4.4.0
black==24.3.0
isort==5.13.1
mypy==1.11.0
pytest==8.4.0
pytest-xdist==3.3.0
python-lsp-server==1.8.0
debugpy==1.8.1
ipdb==0.13.13
jupyterlab==4.5.0
ipykernel==6.27.0
